/* Geral */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 5px 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Modal */
.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, .8);
  z-index: 999;
  animation: modal 8s;
  transform: scale(0);
}

.modal .card {
  border-top: 5px solid rgb(140, 55, 219);
  max-width: 600px;
  margin: 50px auto;
  background-color: #f1f1f1;
  background-color: rgba(240, 240, 240, .9);
}

@keyframes modal {
  0% {transform: scale(.6);}
  10% {transform: scale(1);}
  90% {transform: scale(1);}
  100% {transform: scale(.6);}
}

/* Navbar */

/* Classe adicionada com javascript */
.nav-scroll-bttm {
  background-color: white;
}

.nav-scroll-bttm a {
  background: rgb(140, 55, 219);
}

/* Classe adicionada com javascript */
.nav-scroll-top {
  background-color: purple;
  background-image: linear-gradient(to right, rgb(140, 0, 255) 10%, rgb(177, 44, 204) 80%);
}

nav {
  padding: 10px 0;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
}

.l-hidden {
  display: none;
}

nav a:hover {
  background: rgb(167, 55, 219);
}

.nav-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(140, 55, 219);
}

nav .right {
  float: right;
}


/* Header */
header {
  background: url('../imagens/galaxia-min.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  padding: 100px 0 50px;
  position: relative;
  color: white;
}

header p {
  letter-spacing: 2px;
  width: 50%;
  line-height: 1.6;
}

header .title {
  text-transform: uppercase;
  font-size: 2.1em;
}

header .subtitle {
  font-size: 1.3em;
}

header .subtitle,
header .title {
  font-weight: bold;
}

blockquote {
  text-align: right;
  font-size: 20px;
  font-weight: 100;
  color: #aaa;
}

header .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px;
  font-weight: normal;
  font-size: 12px;
}

/* Main */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.aside, .main {
  float: left;
  padding: 0 10px;
}

.aside {
  width: 25%;
}

.main {
  width: 75%;
}

.card {
  padding: 1.5em 2em;
  margin: 1.5em 0;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0 .75em .2em rgba(0, 0, 0, 0.1);
}

.card .card-header {
  border-bottom: 1px solid #ddd;
  color: #888;
}

.card h2, .card h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card p {
  letter-spacing: 1px;
  line-height: 1.8;
  font-size: 17px;
}

.card-btn {
  outline: none;
  border: none;
  color: white;
  text-decoration: none;
  background-color: rgb(128, 32, 206);
  padding: 15px 20px;
  display: inline-block;
}

.card-btn:hover {
  opacity: .5;
}

/* Listas */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  padding: 10px 8px;
  border-bottom: 1px solid #ddd;
}

.list li a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.list li:hover {
  background-color: #f1f1f1;
}

.tags * {
  background: black;
  color: white;
  padding: 5px;
  margin: 1px 1px 0 0;
  display: inline-block;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Media Query */
@media (max-width: 900px) {
  .aside {
    width: 35%;
  }
  .main {
    width: 65%;
  }
}

@media (max-width: 700px) {
  .aside, .main {
    float: none;
    width: 100%;
    padding: 0;
  }

  p {
    line-height: 1.6 !important;
  }

  header p {
    width: 80%;
    font-size: small;
  }

  header .title {
    font-size: 1.6em;
  }

  header .subtitle {
    font-size: 1.1em;
  }

  .card {
    padding: 1rem 1.2rem;
  }

  .m-hidden {
    display: none;
  }

  .l-hidden {
    display: inline-block;
  }

  .respnv a {
    display: block;
  }

  .respnv .bars {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .respnv .right {
    float: none;
  }

}